
<ion-content [fullscreen]="true">

  <body>
    <br><br><br>
    <img id="tellevo-img" src="assets/img/tellevoapp2.png">
    <ion-card>

      <ion-card-header style="text-align: center;">
        <ion-label>INICIAR SESIÓN</ion-label>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="mainForm" (ngSubmit)="iniciarSesion()">
        <ion-item>
          <ion-label class="ion-text-center" style="font-size: 13px;">USUARIO :</ion-label>
          <ion-input formControlName="usuario" class="ion-text-center" type="text" placeholder="José González" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="ion-text-center" style="font-size: 13px;">CLAVE   :</ion-label>
          <ion-input formControlName="clave" class="ion-text-center" type="password" placeholder="********" required></ion-input>
        </ion-item>
        
        <br>
          <ion-button id="ingresar-button" type="submit"  expand="full" shape="round">INICIAR SESION</ion-button>
          <ion-button id="registrar-button" color="warning" expand="full"   [routerLink]="['/registrar']" shape="round">REGISTRAR USUARIO</ion-button>
        
          <ion-item>
            <ion-label class="ion-text-center" id="label" style="font-size: 12px;"> Olvidé mi contraseña</ion-label>
          </ion-item>
        </form>
      </ion-card-content>
    </ion-card>


  </body>
</ion-content>